.classname {
	background-color: black;
	color: white;
	z-index: 100;
}

.test {
	background: blue;
}

.canvasContainer {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.canvas {
	background: lightblue;
	cursor: cell;
}

.controlPoint {
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	cursor: grab;
	transform: translate(-50%, -50%);
	border-radius: 100%;
	transition: border-width 0.2s;
	border-color: white;
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	border-color: red;


}

.controlPoint:hover {
	border-width: 0.7rem;
}

.controlPoint:active {
	cursor: grabbing;
}

.controlPointContainer {
	display: block;
	position: absolute;
	background: transparent;
}

.controlPointMoveMode>div {
	border-color: white;
}

.selectionContainer {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
	align-items: center;
}

.selectionFieldName {
	margin: 0px;
	font-size: 0.8rem;
}

.selectionItem {
	background-color: white;
	padding: 0.5rem;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	border-style: solid;
	border-color: black;
	border-width: 0px;
	border-radius: 0.3rem;
	flex-grow: 1;
}

.selectionItem:hover {
	opacity: 0.7;
}

.selected {
	transform: scale(90%);
	border-width: 1px;
	border-radius: 0.5rem;
}

.selection {
	display: flex;
	flex-direction: row;
	gap: 0.1rem;
	white-space: nowrap;
	width: 100%;
}

.inputNumberContainer {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 0.3rem;
	align-items: center;
}

.inputNumberContainer button {
	background-color: transparent;
	width: 100%;
	padding: 0.3rem;
}

.inputNumberContainer button:hover {
	background-color: lightgray;
}

.inputNumberContainer p {
	margin: 0.2rem;
	font-size: 0.8rem;
}

.inputNumberContainer input {
	appearance: none;
	-webkit-appearance: none;
	width: 50px;
	border: none;
	background-color: transparent;
	outline: none;
	transition: all 0.1s;
	text-align: center;
	font-size: 1rem;
}

.infoTray {
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}

.infoItem {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.2s, opacity 0.05s, transform 0.2s;
	transform: translateX(-10vw);
	align-self: flex-start;
	padding: 0rem;
	opacity: 0;
}

.expandInfoItem {
	grid-template-rows: 1fr;
	transform: translateX(0rem);
	opacity: 1;
}

.expandInfoItem>div {
	margin-top: 0.5rem !important;
}

.infoItem>div {
	display: block;
	overflow: hidden;
	background-color: white;
	border-radius: 0.5rem;
	margin: 0rem;
}

.infoItem>div>p {
	margin: 0.8rem;
}

.benchmark {
	display: flex;
	flex-direction: column;
}

.benchmark button {
	background-color: white;
	border-radius: 0rem 0rem 0.4rem 0.4rem;
}

.benchmark button:hover {
	background-color: lightgray;
}

.benchmark input {
	border: none;
	outline: none;
	border-bottom: solid black 0.05rem;
	font-size: 1rem;
}

.benchmarkInfoTray {
	font-size: 0.8rem;
}

.canvasOption {
	position: absolute;
	bottom: 0px;
	left: 0px;
	margin: 3%;
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.canvasConfigTray {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 2%;
}

.canvasBenchmark {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 2%;
}

.canvasButton {
	background-color: white;
	border-radius: 1rem;
	font-size: 1.1rem;
	aspect-ratio: 1/1;
	width: 3rem;
	height: 3rem;
}

.canvasButtonContainer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 2%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.controlPointHide>div {
	display: none;
}

.controlPointHide div:first-child {
	display: block !important;
}

.controlPointHide div:last-child {
	display: block !important;
}
