.classname {
	background-color: black;
	color: white;
	z-index: 100;
}

.test {
	background: blue;
}

.canvasContainer {
	position: relative;
	height: 100vh;
	width: 100vw;
	user-select: none;
	-webkit-user-select: none;
}

.canvas {
	background: lightblue;
}

.controlPoint {
	width: 10px;
	height: 10px;
	background-color: black;
	position: absolute;
	cursor: pointer;
	transform: translate(-50%, -50%);
	border-radius: 100%;
}
